name: Publish

on:
  push:
    branches:
      - master
env:
  GITHUB_USER: CI
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Publish image locally and run tests
        run: sbt docker
      - name: Publish Docker image
        run: ./.github/scripts/publishDocker.sh
      - name: Publish package
        run: sbt publish
